#slider-with-blocks-1 {
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 0;
	right: 0;
	bottom: 50px; /* height of thumbs (if not required set to 0) */
	height: auto;
	width: auto;

}

.rsContent {
	color: #FFF;
	font-size: 24px;
	line-height: 32px;
	float: left;
	
	.block {
		text-align: center;
		height: calc(100% - 80px);
		width: 100%;
    top: 0;
	}

}

.bContainer {
	position: relative;
	top: 33%;
}
.rsABlock {
	display: block;
	left: auto;
	top: auto;
  background: transparent !important;
}
.blockHeadline {
	font-size: 42px;
	line-height: 50px;
}
.blockSubHeadline {
	font-size: 32px;
	line-height: 40px
}
.txtCent {
	text-align: center; 
	width: 100%; 
}


.photoCopy {
	position: absolute;
	line-height: 24px;
	font-size: 12px;
	background: black;
	color: white;
	background-color: rgba(0, 0, 0, 0.75);
	padding: 0px 10px;
	position: absolute;
	left: 12px;
	bottom: 12px;
	top: auto;
	border-radius: 2px;
	z-index: 25;
}
.photoCopy a {
	color: #FFF;
}
.palmImg {
	left: 0;
	top: auto;
	bottom: -60px;
	position: absolute;
}


@media screen and (min-width: 0px) and (max-width: 960px) { 
	.rsContent {
		font-size: 22px;
		line-height: 28px;
	}
	.blockHeadline {
		font-size: 32px;
		line-height: 32px;
	}
	.blockSubHeadline {
		font-size: 26px;
		line-height: 32px
	}
}
@media screen and (min-width: 0px) and (max-width: 500px) { 
	.royalSlider,
	.rsOverflow {
		height: 330px !important;
	}
	.rsContent {
		font-size: 18px;
		line-height: 26px;
	}
	.blockHeadline {
		font-size: 24px;
		line-height: 32px;
	}
	.blockSubHeadline {
		font-size: 22px;
		line-height: 32px
	}
}

.slider {

  line-height: 1.5;
  text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.45);
  h2 { font-family: $serif; font-size: 200%; }
  h3 { color: $gray; line-height: 1.5; font-size: 95%; max-width: 95%; text-align: center; margin: 0 auto 30px auto; }

}

/*
*/

.contentSlider {
  width: 100%;
}
.contentSlider,
.contentSlider .rsOverflow,
.contentSlider .rsSlide,
.contentSlider .rsVideoFrameHolder,
.contentSlider .rsThumbs {
  background: transparent;
  color: #000;
}

.contentSlider .rsSlide,
.contentSlider .rsOverflow {
  background: transparent;
}
.contentSlider h3 {
  font-size: 24px;
  line-height: 31px;
  margin: 12px 0 8px;
  font-weight: bold;
}
.contentSlider img {
  max-width: 100%;
  height: auto;
  display: block;
}
.content-slider-bg {
  width: 86%;
  padding: 24px 7%;
  background: transparent;
}

/* Tabs */

.rsDefault .rsTabs {
  width: 100%;
  /*color: #fff;*/
  margin: 20px auto 30px auto;
  height: auto;
  text-align:center;
  overflow: hidden; padding-top: 12px; position: relative;
}
.rsDefault .rsTab {
  display: inline-block;
  cursor: pointer;
  text-align: center;
  height: auto;
  width: auto;
  color: #fff;
  /*padding: 5px 13px 6px;*/
  padding: 10px 20px;
  min-width: 72px;
  /*border: 1px solid #D9D9DD;*/
  /*border-right: 1px solid #f5f5f5;*/
  text-decoration: none;

  background-color: $dark-gray;
  *display:inline; 
  *zoom:1;
  opacity: 0.5;
}
.rsDefault .rsTab:first-child {
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.rsDefault .rsTab:last-child { 
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;

  /*border-right:  1px solid #cfcfcf;*/
}
.rsDefault .rsTab:active {    
  background-color: $green;
  opacity: 1 !important;
}
.rsDefault .rsTab.rsNavSelected { 
  opacity: 1;
  color: #FFF;
  /*border: 1px solid #999;*/
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  background: $green;
}

.rsNav .rsTabs {

	background: transparent !important;

}

.contentSlider {

	.rsArrow {

		background: transparent;

	}

	.rsTabs {

		display: none !important;

	}

	/*position: relative;*/

}

.grid-container {
	
	position: relative;

	.arrow {

		position: absolute;
		top: 0;
		top: 200px;
		color: #aaa;
		cursor: pointer;
		font-size: 200%;
		opacity: 0.7;

		&:hover {
			
			color: #666;

		}

	}

	.left { left: -60px; }
	.right { right: -60px; }
	
}
