@charset "UTF-8";
* {
  transition: 0.2s; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

.heading h2 {
  font-family: "minion-pro", serif;
  font-size: 250%;
  text-align: center;
  margin: 60px 0 10px 0;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1); }

.heading img {
  height: 75px; }

.howh, suh {
  margin: 60px 0 10px 0; }

.content h3 {
  font-size: 150%;
  margin-top: 0;
  margin-bottom: -15px; }

.content p {
  color: #637d7d; }

.card {
  background: white;
  box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.08);
  width: 480px;
  box-sizing: border-box;
  padding: 50px 50px 15px 50px;
  display: inline-block;
  vertical-align: middle;
  border-radius: 2px;
  text-align: left; }

.block {
  height: 100%;
  text-align: center; }

.block:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  box-sizing: border-box; }

p {
  padding-bottom: 20px;
  font-family: 'freight-text-pro';
  font-size: 100%;
  color: #6b6b6b; }

.avatar {
  float: left;
  margin: 0 10px 10px 0; }

.form {
  clear: both; }

.field:focus {
  box-shadow: 0px 2px 0px #7ecd94, 0px -2px 0px #7ecd94;
  z-index: 1;
  border-top: thin solid transparent; }

.fld {
  position: relative; }

.fld i {
  position: absolute;
  z-index: 999;
  height: 52px;
  top: 2px;
  left: -50px;
  width: 50px;
  line-height: 52px;
  text-align: center;
  color: #5e5e5e; }

.fld textarea {
  resize: vertical;
  margin-bottom: -10px; }

.last {
  border-bottom: thin solid #dedede !important; }

.last:focus {
  border-bottom: thin solid transparent; }

.submit {
  -webkit-display: none;
  background: #7ecd94;
  border: none;
  font-family: "freight-sans-pro", sans-serif;
  font-size: 100%;
  margin-top: 30px;
  color: white;
  width: 100% !important;
  max-width: 100% !important;
  padding: 12px 0 !important;
  border-radius: 4px !important;
  margin-bottom: -30px;
  text-align: center; }

/*
input::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
  content: "\f007";
  font-family: FontAwesome;
}
*/
p.ohho {
  text-align: center;
  color: #9e9e9e;
  font-size: 85%;
  margin: 0;
  margin-bottom: -12px;
  margin-top: -10px;
  font-family: 'freight-text-pro';
  font-style: italic; }

.sub {
  font-family: 'freight-text-pro';
  font-style: italic; }

.sub span {
  border-bottom: 2px solid #aaa;
  font-weight: bold; }

input[type='checkbox'] {
  display: none; }

input[type='checkbox'] + label:before {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-right: 8px;
  top: 1px;
  position: relative;
  cursor: pointer; }

input[type="checkbox"]:checked + label:before {
  padding-right: 6px; }

input[type="checkbox"] + label:before {
  content: "\f096";
  /* Checkbox Unchecked */ }

input[type="checkbox"]:checked + label:before {
  content: "\f046";
  /* Checkbox Checked */
  margin-right: -1px; }

@media only screen and (max-width: 568px) {
  .card {
    width: 100%;
    margin: 0; }

  body {
    background: #fcfcfc; }

  .block {
    height: auto;
    padding: 0 !important; }

  .block:before {
    height: auto;
    padding: 0 !important; }

  img.logo {
    width: 70%; } }
@media only screen and (max-width: 360px) {
  img.logo {
    width: 100%; } }
.green-t {
  color: #7ecd94;
  border-bottom: 1px solid #7ecd94; }

::-webkit-input-placeholder {
  color: #666; }

:-moz-placeholder {
  /* Firefox 18- */
  color: #aaa; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #aaa; }

:-ms-input-placeholder {
  color: #aaa; }

.su {
  overflow: auto;
  box-sizing: border-box !important;
  padding: 50px;
  width: 100%; }

.su h1 {
  font-family: 'freight-text-pro';
  text-align: center;
  margin-top: -20px;
  margin-bottom: 20px; }

#fancybox-content {
  box-sizing: border-box;
  border-width: 0 !important; }

#fancybox-content + div {
  box-sizing: border-box;
  width: 480px; }

#fancybox-outer {
  width: 480px !important; }

html.beta {
  margin: 0; }

html.beta, body.beta {
  width: 100%;
  height: 100%;
  box-sizing: border-box; }

body.beta {
  margin: 0;
  font-family: "freight-sans-pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 120%;
  line-height: 1.67;
  text-rendering: optimizeLegibility;
  background: #f7f7f7;
  background-size: cover;
  color: #415252; }

body.beta a {
  text-decoration: none;
  color: #36adea; }

body.beta .big.fat {
  font-size: 80%;
  display: inline-block;
  text-transform: uppercase;
  font-family: "calluna-sans", sans-serif;
  color: #f7f7f7;
  background: #73c98b;
  max-width: 80%;
  box-sizing: border-box;
  margin-bottom: 4%;
  padding: 15px 30px;
  border-radius: 6px; }

body.beta .button {
  border-radius: 3px;
  transition: 0.25s ease;
  position: relative;
  z-index: 0;
  color: white; }

body.beta .button:active {
  top: 1px; }

body.beta .button:focus {
  top: 1px;
  outline: none; }

body.beta .green {
  background: #7ecd94; }

body.beta .green.button {
  box-shadow: inset 0px -2px #59bf76;
  text-shadow: 0px 1px 0px #40a55c;
  font-size: 80%; }

body.beta .green.button:hover {
  background: #73c98b; }

body.beta .green.button:active {
  background: #6cc685;
  box-shadow: inset 0px -1px #59bf76;
  top: 1px; }

body.beta .green.button:focus {
  background: #5dc079;
  box-shadow: inset 0px -1px #59bf76;
  top: 1px;
  outline: none; }

body.beta .blue {
  background: #36adea; }

body.beta .blue.button {
  box-shadow: inset 0px -2px #1695d7;
  text-shadow: 0px 1px 0px #1275a8;
  font-size: 80%; }

body.beta .blue.button:hover {
  background: #28a7e9; }

body.beta .blue.button:active {
  background: #1fa4e8;
  box-shadow: inset 0px -1px #1695d7;
  top: 1px; }

body.beta .blue.button:focus {
  background: #1799db;
  box-shadow: inset 0px -1px #1695d7;
  top: 1px;
  outline: none; }

body.beta .dark-gray {
  background: #415252; }

body.beta .dark-gray.button {
  box-shadow: inset 0px -2px #2a3636;
  text-shadow: 0px 1px 0px #141919;
  font-size: 80%; }

body.beta .dark-gray.button:hover {
  background: #3a4949; }

body.beta .dark-gray.button:active {
  background: #364444;
  box-shadow: inset 0px -1px #2a3636;
  top: 1px; }

body.beta .dark-gray.button:focus {
  background: #2d3838;
  box-shadow: inset 0px -1px #2a3636;
  top: 1px;
  outline: none; }

body.beta .red {
  background: #ea3636; }

body.beta .red.button {
  box-shadow: inset 0px -2px #d71616;
  text-shadow: 0px 1px 0px #a81212;
  font-size: 80%; }

body.beta .red.button:hover {
  background: #e92828; }

body.beta .red.button:active {
  background: #e81f1f;
  box-shadow: inset 0px -1px #d71616;
  top: 1px; }

body.beta .red.button:focus {
  background: #db1717;
  box-shadow: inset 0px -1px #d71616;
  top: 1px;
  outline: none; }

body.beta .hglt {
  /*background: white;*/
  padding: 10px 20px;
  margin-left: -10px; }

body.beta .iu {
  margin-bottom: 50px;
  margin-top: 55px; }

body.beta .iu .img {
  height: 100% !important;
  background-repeat: no-repeat;
  background-position: center; }

.full-width-form ::-webkit-input-placeholder {
  color: #e3e3e3; }

.full-width-form .welcome {
  font-size: 95%; }

.full-width-form .welcome p {
  margin: 0; }

.full-width-form .card {
  background: white;
  box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.08);
  width: 480px;
  box-sizing: border-box;
  padding: 50px 50px 15px 50px;
  display: inline-block;
  vertical-align: middle;
  border-radius: 2px;
  text-align: left;
  margin: 0 auto; }

.full-width-form .block {
  height: 100%;
  text-align: center; }

.full-width-form .block:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  box-sizing: border-box; }

.full-width-form img.logo {
  width: 40%;
  margin: 0 0 10px 0; }

.full-width-form div.logo {
  text-align: center; }

.full-width-form p {
  padding-bottom: 20px;
  font-family: 'freight-text-pro';
  font-size: 100%;
  color: #6b6b6b; }

.full-width-form .field {
  -webkit-appearance: none;
  outline: none;
  -webkit-user-select: none;
  border: none;
  border-top: thin solid #dedede;
  width: calc(100% + 100px);
  margin-left: -50px;
  box-sizing: border-box;
  padding-left: 50px;
  font-family: "freight-sans-pro", sans-serif;
  font-size: 100%;
  padding: 12px 50px 12px 50px;
  margin-bottom: -2px;
  z-index: 0;
  position: relative !important; }

.full-width-form .field:focus {
  box-shadow: 0px 2px 0px #7ecd94, 0px -2px 0px #7ecd94;
  z-index: 1;
  border-top: thin solid transparent; }

.full-width-form .fld {
  position: relative; }

.full-width-form .fld i {
  position: absolute;
  z-index: 999;
  height: 52px;
  top: 2px;
  left: -50px;
  width: 50px;
  line-height: 52px;
  text-align: center;
  color: #5e5e5e; }

.full-width-form .treatment {
  border-bottom: thin solid #dedede !important; }

.full-width-form .treatment:focus {
  border-bottom: thin solid transparent; }

.full-width-form .submit {
  -webkit-display: none;
  background: #7ecd94;
  border: none;
  font-family: "freight-sans-pro", sans-serif;
  font-size: 100%;
  margin-top: 30px;
  color: white;
  width: 100% !important;
  max-width: 100% !important;
  padding: 12px 0 !important;
  border-radius: 4px !important;
  margin-bottom: -30px;
  text-align: center; }

.full-width-form .sub {
  font-family: 'freight-text-pro';
  font-style: italic; }

.full-width-form .sub span {
  border-bottom: 2px solid #aaa;
  font-weight: bold; }

@media only screen and (max-width: 568px) {
  body.beta .card {
    width: 100%;
    margin: 0; }

  body.beta body.beta {
    background: #fcfcfc; }

  body.beta .block {
    height: auto;
    padding: 0 !important; }

  body.beta .block:before {
    height: auto;
    padding: 0 !important; }

  body.beta img.logo {
    width: 70%; } }
@media only screen and (max-width: 360px) {
  body.beta img.logo {
    width: 100%; } }
body.beta .green-t {
  color: #7ecd94;
  border-bottom: 1px solid #7ecd94; }

/** Slider */
#slider-with-blocks-1 {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
  right: 0;
  bottom: 50px;
  /* height of thumbs (if not required set to 0) */
  height: auto;
  width: auto; }

.rsContent {
  color: #FFF;
  font-size: 24px;
  line-height: 32px;
  float: left; }

.rsContent .block {
  text-align: center;
  height: calc(100% - 80px);
  width: 100%;
  top: 0; }

.bContainer {
  position: relative;
  top: 33%; }

.rsABlock {
  display: block;
  left: auto;
  top: auto;
  background: transparent !important; }

.blockHeadline {
  font-size: 42px;
  line-height: 50px; }

.blockSubHeadline {
  font-size: 32px;
  line-height: 40px; }

.txtCent {
  text-align: center;
  width: 100%; }

.photoCopy {
  position: absolute;
  line-height: 24px;
  font-size: 12px;
  background: black;
  color: white;
  background-color: rgba(0, 0, 0, 0.75);
  padding: 0px 10px;
  position: absolute;
  left: 12px;
  bottom: 12px;
  top: auto;
  border-radius: 2px;
  z-index: 25; }

.photoCopy a {
  color: #FFF; }

.palmImg {
  left: 0;
  top: auto;
  bottom: -60px;
  position: absolute; }

@media screen and (min-width: 0px) and (max-width: 960px) {
  .rsContent {
    font-size: 22px;
    line-height: 28px; }

  .blockHeadline {
    font-size: 32px;
    line-height: 32px; }

  .blockSubHeadline {
    font-size: 26px;
    line-height: 32px; } }
@media screen and (min-width: 0px) and (max-width: 500px) {
  .royalSlider,
  .rsOverflow {
    height: 330px !important; }

  .rsContent {
    font-size: 18px;
    line-height: 26px; }

  .blockHeadline {
    font-size: 24px;
    line-height: 32px; }

  .blockSubHeadline {
    font-size: 22px;
    line-height: 32px; } }
.slider {
  line-height: 1.5;
  text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.45); }

.slider h2 {
  font-family: "minion-pro", serif;
  font-size: 200%; }

.slider h3 {
  color: #f7f7f7;
  line-height: 1.5;
  font-size: 95%;
  max-width: 95%;
  text-align: center;
  margin: 0 auto 30px auto; }

.slider a.link-how {
  opacity: 0.9;
  margin-right: 10px; }

.slider a.link-invitation {
  margin-left: 10px; }

.contentSlider {
  width: 100%;
  margin-top: 40px; }

.contentSlider,
.contentSlider .rsOverflow,
.contentSlider .rsSlide,
.contentSlider .rsVideoFrameHolder,
.contentSlider .rsThumbs {
  background: transparent;
  color: #000; }

.contentSlider .rsSlide,
.contentSlider .rsOverflow {
  background: transparent; }

.contentSlider h3 {
  font-size: 24px;
  line-height: 31px;
  margin: 12px 0 8px;
  font-weight: bold; }

.contentSlider img {
  max-width: 100%;
  height: auto;
  display: block; }

.content-slider-bg {
  width: 86%;
  padding: 24px 7%;
  background: transparent; }

/* Tabs */
.rsDefault .rsTabs {
  width: 100%;
  /*color: #fff;*/
  margin: 20px auto 30px auto;
  height: auto;
  text-align: center;
  overflow: hidden;
  padding-top: 12px;
  position: relative;
  display: none; }

.rsDefault .rsTab {
  display: inline-block;
  cursor: pointer;
  text-align: center;
  height: auto;
  width: auto;
  color: #fff;
  /*padding: 5px 13px 6px;*/
  padding: 10px 20px;
  min-width: 72px;
  /*border: 1px solid #D9D9DD;*/
  /*border-right: 1px solid #f5f5f5;*/
  text-decoration: none;
  background-color: #415252;
  *display: inline;
  *zoom: 1;
  opacity: 0.5; }

.rsDefault .rsTab:first-child {
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px; }

.rsDefault .rsTab:last-child {
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
  /*border-right:  1px solid #cfcfcf;*/ }

.rsDefault .rsTab:active {
  background-color: #7ecd94;
  opacity: 1 !important; }

.rsDefault .rsTab.rsNavSelected {
  opacity: 1;
  color: #FFF;
  /*border: 1px solid #999;*/
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  background: #7ecd94; }

/** Sections */
.howh, suh {
  margin: 10px 0 10px 0; }

.hear {
  margin-top: calc(100vh - 100px);
  /*padding-bottom: 0;*/
  padding-top: 60px;
  padding-bottom: 100px; }

.aff {
  padding-bottom: 40px; }
  .aff h2 {
    text-align: left !important;
    /*font-size: 175%;*/ }

.iu {
  margin-bottom: 50px;
  margin-top: 55px; }

.iu .img {
  height: 100% !important;
  background-repeat: no-repeat;
  background-position: center; }

.mpar {
  text-align: center; }

section.mock {
  padding-bottom: 0; }

section.mock .mock-bullets {
  font-size: 20px;
  margin-top: 50px;
  color: #637d7d; }

.mockup {
  width: 100%; }

#su input {
  outline: none;
  border: none;
  padding: 10px;
  font-family: 'freight-text-pro';
  font-size: 140%;
  font-weight: 100;
  text-align: center;
  background: #2a3636;
  color: white !important;
  margin: 10px 0;
  border-radius: 1000px; }

#su input[type="submit"] {
  cursor: pointer;
  background: #73c98b; }

#su input[type="submit"]:hover {
  background: #2a3636; }

.last * {
  text-align: center;
  color: white; }

.last h4 {
  font-size: 125%; }

.button.waitlist {
  margin: 60px auto 20px auto;
  font-size: 90%;
  display: block;
  height: 58px;
  clear: both;
  width: 210px;
  text-align: center; }

.button.firststep {
  font-size: 60%;
  margin-left: 90px; }

#wpadminbar {
  opacity: 0.3; }

.howh {
  margin-bottom: -10px; }

.button {
  cursor: pointer; }

.error {
  color: #ea3636 !important;
  font-weight: bold;
  text-align: center; }

.warn {
  top: 1px;
  margin-right: 4px;
  position: relative; }

body.beta {
  overflow: auto; }

@media only screen and (max-height: 700px) {
  body.beta {
    overflow: auto; } }
/** How it works timeline */
.timeline #cd-timeline {
  margin: 0; }

.timeline .cd-timeline-content {
  width: 85%;
  float: right; }

.timeline .cd-timeline-img {
  left: 10%; }

@media only screen and (min-width: 1170px) {
  .timeline #cd-timeline::before {
    left: 10%; }

  .timeline .cd-timeline-block .cd-timeline-content::before {
    border-left: none;
    border-right-color: white;
    left: auto;
    right: 100%; } }
.sub {
  display: none !important;
  opacity: 0 !important; }

.pred p {
  margin-top: 0px;
  font-size: 205% !important;
  text-align: left;
  width: 100%;
  margin-bottom: 10px; }

.int {
  text-align: right;
  margin-top: 240px; }

html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.button {
  font-weight: 600; }

.testimonial {
  text-shadow: none; }
  .testimonial * {
    text-shadow: none; }
  .testimonial .photo {
    text-align: center !important; }
    .testimonial .photo img {
      border-radius: 100%;
      margin-top: 20px;
      width: 150px;
      border: 10px solid #eeeeee;
      display: inline; }
  .testimonial blockquote {
    font-size: 95%;
    line-height: 2;
    text-align: center;
    font-weight: 100;
    color: #555; }
  .testimonial .name, .testimonial .origin {
    text-align: center;
    font-family: calluna-sans;
    text-transform: uppercase; }
  .testimonial .origin {
    margin-top: -35px; }
  .testimonial .name {
    font-size: 100%;
    font-weight: bold;
    color: #69e;
    margin-top: 35px; }
  .testimonial .origin {
    font-size: 80%;
    color: #aaa; }
  .testimonial .arrow {
    color: #eee;
    font-size: 250%; }
  .testimonial .left {
    text-align: right; }
  .testimonial .left, .testimonial .right {
    margin-top: 50px; }

.beta .select-target {
  height: 100% !important;
  border: 2px solid lightgray !important;
  /*border-radius: 0 !important;  */
  margin: 0 !important;
  box-sizing: border-box;
  padding-top: 3px !important;
  padding-bottom: 3px !important;
  padding-left: 15px !important;
  margin-left: 10px !important; }

.inqquiry-for .fa {
  left: 0 !important; }

input[type='radio'] + label:before {
  /*display: none;*/ }

.subtitle {
  text-transform: uppercase; }
  .subtitle p {
    font-family: "calluna-sans", sans-serif !important;
    margin-bottom: 0;
    color: #aaa;
    font-size: 100% !important;
    margin-top: 20px; }

.sub + a {
  /*display: none;*/
  visibility: hidden;
  opacity: 0.7; }

.int {
  opacity: 0; }

.pred {
  opacity: 0.1; }

input[name="tmd_review_comment"] {
  height: 2000px !important; }

.full-width-form .avatar {
  height: 100px;
  width: 100px;
  border-radius: 100px;
  border: 5px solid #f7f7f7; }
.full-width-form h2 {
  margin-top: 0;
  color: #777;
  font-size: 120%;
  line-height: 1.3;
  margin-top: 14px;
  margin-left: 20px; }
  .full-width-form h2 .doc-name {
    margin-top: -10px;
    font-size: 150%; }

.full-width-form .rat-star {
  margin-top: 10px;
  position: relative; }

.rat-star {
  /*float:left;*/
  display: inline-block;
  border: 0;
  outline: 0;
  vertical-align: middle; }
  .rat-star legend {
    display: none; }

/* :not(:checked) is a filter, so that browsers that don’t support :checked don’t 
   follow these rules. Every browser that supports :checked also supports :not(), so
   it doesn’t make the test unnecessarily selective */
.rat-star:not(:checked) > input {
  position: absolute;
  top: -9999px;
  clip: rect(0, 0, 0, 0); }

.rat-star:not(:checked) > label {
  float: right;
  width: 1em;
  position: relative;
  top: -3px;
  padding: 0 .1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 100%;
  line-height: 1.2;
  color: #ddd;
  /*text-shadow:1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0,0,0,.5);*/ }

.rat-star:not(:checked) > label:before {
  content: '★ '; }

.rat-star > input:checked ~ label {
  color: gold;
  /*color: red;*/
  /*text-shadow:1px 1px #c60, 2px 2px #940, .1em .1em .2em rgba(0,0,0,.5);*/ }

.rat-star:not(:checked) > label:hover,
.rat-star:not(:checked) > label:hover ~ label {
  color: gold;
  /*text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);*/ }

.rat-star > input:checked + label:hover,
.rat-star > input:checked + label:hover ~ label,
.rat-star > input:checked ~ label:hover,
.rat-star > input:checked ~ label:hover ~ label,
.rat-star > label:hover ~ input:checked ~ label {
  color: gold;
  /*text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);*/ }

.rat-star > label:active {
  position: relative;
  top: -1px;
  /*left:2px;*/ }

.rat-title {
  width: 120px;
  display: inline-block; }
