$green: #7ecd94;
$red: #ea3636;
$dark-gray: #415252;
$gray: #f7f7f7;
$white: darken(#fcfcfc, 0%);
$blue: #36adea;

* { transition: 0.2s; }

@import 'typography';

@import 'nav';
@import 'slider';

::selection {
	background: $green;
	color: white;
}

html {
	margin: 0;
}

html, body {
	
	width: 100%;
    height: 100%;

}

body {

	margin: 0;
	font-family: $sans;
	font-style: normal;
	font-weight: 400;
	font-size: 120%;
	line-height: 1.67;
	text-rendering: optimizeLegibility;
	background: $gray;
	background-size: cover;
	color: $dark-gray;

}

a {

	text-decoration: none;
	color: $blue;

}

.big.fat {

	font-size: 80%;
	display: inline-block;
	text-transform: uppercase;
	font-family: $calluna;
	color: $gray;
	background: darken($green, 3%);
	max-width: 80%;
	box-sizing: border-box;
	margin-bottom: 4%;	
	padding: 15px 30px;
	border-radius: 6px;

}

.button {

	border-radius: 3px;
	transition: 0.25s ease;
	position: relative; 
	z-index: 0;
	&:hover {
	}
	
	&:active {
		top: 1px;
	}
	
	&:focus {
		top: 1px;
		outline: none;
	}

}

@mixin button-color($color) {
	
	&.button {
	
		box-shadow: inset 0px -2px darken($color, 10%); 
		text-shadow: 0px 1px 0px darken($color, 30%);

		&:hover {
			background: darken($color, 3%);
		}
		
		&:active {
			background: darken($color, 5%);
			box-shadow: inset 0px -1px darken($color, 10%); 
			top: 1px;
		}
		
		&:focus {
			background: darken($color, 9%);
			box-shadow: inset 0px -1px darken($color, 10%); 
			top: 1px;
			outline: none;
		}

	}

}

.green { 

	background: $green;
	@include button-color($green);

}
.blue { 

	background: $blue;
	@include button-color($blue);

}
.dark-gray { 

	background: $dark-gray;
	@include button-color($dark-gray);

}
.red { 

	background: $red;
	@include button-color($red);

}

.hglt {

	/*background: white;*/
	padding: 10px 20px;
	margin-left: -10px;

}

.how {
	
	margin-top: calc(100vh - 50px);

}

.iu {
		
	margin-bottom: 50px;
	margin-top: 55px;

	.img {
		
		height: 100% !important;
		background-repeat:no-repeat;
		background-position:center; 
	}

}

section:nth-child(odd) {
	
	background: lighten($dark-gray, 65%);

}

section {

	padding-bottom: 60px;

}

.mpar {
	text-align: center;
}

.mockup {
	
	width: 70%;

}

::-webkit-input-placeholder { color: darken($white, 10%);}
.email {

	outline: none;
	border: none;
	padding: 10px;
	font-family: 'freight-text-pro';
	font-size: 140%;
	font-weight: 100;
	text-align: center;
	background: darken($dark-gray, 10%);
	color: white !important;
	width: 550px;
	margin: 18px 0;
	border-radius: 1000px;
}

.last {

	* { text-align: center; color: white; }

	background: $dark-gray !important;

	h4 { font-size: 125%; }



}
